<nav class="navbar navbar-expand-lg navbar-light mb-3 ml-2 mr-2 rounded"  style="background-color: #e3f2fd;">
  <!-- Image and text -->
  <a class="navbar-brand" href="/">
    <img src="/Icon/icon.png" width="30" height="30" class="d-inline-block align-top">
    Laptop shop
  </a>
  {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> --}}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ml-auto mr-auto">
        <form class="form-inline my-2 my-lg-0" >
        <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search" style="width: 400px;">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <i class="fa fa-search" aria-hidden="true"></i> </button>
        </form>
        <select class="custom-select rounded ml-2" id="inlineFormCustomSelect" style="width:150px">
        <option value="1" selected >Tên máy</option>
        <option value="2">Nhà sản xuất</option>
      </select>
     </ul>
    
  </div>
    <a class="nav-link" href="#" >
    <i class="fa fa-shopping-cart ml-2" aria-hidden="true"></i>
    Giỏ hàng</a>
    <a class="nav-link " href="/sign-in" >
    <i class="fa fa-user" aria-hidden="true"></i>
    Đăng nhập/Đăng kí</a>
</nav>
<div class="d-flex justify-content-center mb-3">
  <font size = "5" style="color: red;">LAPTOP CHẤT LƯỢNG CAO - GIÁ BAO TỐT</font>
</div>

