<!-- Page content -->
<div class="container" style="background-color: white;">
    <div class="jumbotron text-xs-center">
        <h2 class="display-3">{{successMsg}}</h2>
        <img src="img/thankyou.png">
        <p class="lead"><strong>ĐƠN HÀNG CỦA BẠN SẼ ĐƯỢC XỬ LÝ TRONG VÒNG 14 NGÀY.</strong></p>
    </div>
</div>
<!-- End page content -->